### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea/codeStyles/**
.idea/**.xml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### cluster metadata ###
secrets/**.csr
secrets/**.crt
secrets/**.jks
secrets/**.key
secrets/**.srl
secrets/**.req
secrets/**.pem
secrets/**creds

